<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"    
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>图片定制</title>
	<link rel="stylesheet" th:href="@{/layui/css/layui.css}"></link>
	<link rel="stylesheet" th:href="@{/jquery-color-picker/spectrum.css}"></link>
    <script type="text/javascript" th:src="@{/js/jquery-1.11.3.js}"></script>
	<script type="text/javascript" th:src="@{/jquery-color-picker/spectrum.js}"></script>
    <script type="text/javascript" th:src="@{/jquery-color-picker/docs/docs.js}"></script>
    <script type="text/javascript" th:src="@{/layui/layui.js}"></script>
</head>
<style type="text/css">
	.layui-input{
		cursor: pointer;
	}
	.layui-row{
		margin: 18px 0px;
	}
	.rowDiv{
		height : 578px;
		padding: 4px 10px;
		margin-top: 0px;
		overflow:hidden;
	}
	.formDiv{
		border: 1px solid #D9D9D9;
		height: 100%;
		padding: 10px 10px;
	}
	.label{
		margin-top: 8px;
		text-align:center;
	}
	.layui-form-select dl{
		height: 204px;
	}
	.icon_image{
		width: 28px;
		height: 28px;
		padding: 2px 5px;
	}
	#imgSelect{
		width:27px; 
		height:27px;  
		border:0; 
		background-image:url(../icon_images/cascades.png);
		background-size:27px 27px;
		background-repeat:no-repeat;
	}
	.input-prompt{
		line-height: 38px;
		color: red;
		padding-left: 5px;
	}
	.layui-btn + .layui-btn{
		margin-left:0;
	}
</style>
<body>
	<div class="layui-containers">
		<div class="layui-row rowDiv">
	    	<div class="layui-col-xs8 layui-col-sm8 layui-col-md8 formDiv">
	      		<form id="saveData"  class="layui-form" method='post'>
	      			<input id="id" class="layui-input" name="id" placeholder="请输入" autocomplete="off" type="hidden"></input>
	      			<div class="layui-row">
		      			<div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
						    <label class="layui-col-xs3 layui-col-sm3 layui-col-md3 label">图片名称：</label>
						    <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
						      	<input id="name" class="layui-input" name="name"  placeholder="请输入" autocomplete="off" type="text"></input>
						    </div>
							<label class="layui-col-xs5 layui-col-sm5 layui-col-md5 input-prompt">*</label>
						</div>
						<div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
					    	<label class="layui-col-xs3 layui-col-sm3 layui-col-md3 label">图片格式：</label>
					    	<div class="layui-col-xs9 layui-col-sm9 layui-col-md9">
					    		<select id="pictureType" name="pictureType" lay-filter="type">
							        <option value="png" selected="">png</option>
							        <option value="jpg">jpg</option>
						      	</select>
					    	</div>
						</div>
					</div>
					<div class="layui-row">
		      			<div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
						    <label class="layui-col-xs3 layui-col-sm3 layui-col-md3 label">图片长度：</label>
						    <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
						      	<input id="picture-height" class="layui-input" name="picture-height" autocomplete="off" type="text"></input>
								<div style="position:absolute;right: 15px;top: 10px;color:#757575">
									单位:px
								</div>
						    </div>
							<label class="layui-col-xs5 layui-col-sm5 layui-col-md5 input-prompt">*,输入范围32~250</label>
						</div>
						<div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
						    <label class="layui-col-xs3 layui-col-sm3 layui-col-md3 label">图片宽度：</label>
						    <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
						      	<input id="picture-width" class="layui-input" name="picture-width" autocomplete="off" type="text"></input>
								<div style="position:absolute;right: 15px;top: 10px;color:#757575">
									单位:px
								</div>
						    </div>
							<label class="layui-col-xs5 layui-col-sm5 layui-col-md5 input-prompt">*,输入范围32~250</label>
						</div>
					</div>
					<div class="layui-row">
		      			<div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
						    <label class="layui-col-xs3 layui-col-sm3 layui-col-md3 label">背景颜色：</label>
						    <div class="layui-col-xs9 layui-col-sm9 layui-col-md9">
						    	<input id="background-color" class="layui-input" name="background-color" readonly="readonly" autocomplete="off" type="text"></input>
						      	<div style="text-align:right;margin-top: -35px;">
						      		<input id="background-colors"></input>
						      	</div>
						    </div>
						</div>
						<div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
						    <label class="layui-col-xs3 layui-col-sm3 layui-col-md3 label">图片图标：</label>
						    <input id="page" type="hidden" value=""></input>
						    <input id="countPage" type="hidden" value=""></input>
						    <div class="layui-col-xs9 layui-col-sm9 layui-col-md9">
						      <input id="picture-icon" class="layui-input" name="picture-icon" autocomplete="off" type="text"></input>
						      <div style="text-align:right;margin-top: -32px;margin-right: 8px;border: 0px solid red;">
						      		<input id="imgSelect" name="" type="button"></input>
						      </div>
						    </div>
						</div>
					</div>
					<div class="layui-row">
		      			<div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
						    <label class="layui-col-xs3 layui-col-sm3 layui-col-md3 label">图标宽度：</label>
						    <div class="layui-col-xs9 layui-col-sm9 layui-col-md9">
						      	<input id="icon-width" class="layui-input" name="icon-width" autocomplete="off" type="text" />
								<div style="position:absolute;right: 15px;top: 10px;color:#757575">
									单位:px
								</div>
						    </div>
						</div>
						<div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
						    <label class="layui-col-xs3 layui-col-sm3 layui-col-md3 label">图标高度：</label>
						    <div class="layui-col-xs9 layui-col-sm9 layui-col-md9">
						      	<input id="icon-height" class="layui-input" name="icon-height" autocomplete="off" type="text" />
								<div style="position:absolute;right: 15px;top: 10px;color:#757575">
									单位:px
								</div>
						    </div>
						</div>
					</div>
					<div class="layui-row">
		      			<div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
						    <label class="layui-col-xs3 layui-col-sm3 layui-col-md3 label">图标距上：</label>
						    <div class="layui-col-xs9 layui-col-sm9 layui-col-md9">
						      	<input id="icon-top-height" class="layui-input" name="icon-top-height" autocomplete="off" type="text"></input>
								<div style="position:absolute;right: 15px;top: 10px;color:#757575">
									单位:px
								</div>
						    </div>
						</div>
						<div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
						    <label class="layui-col-xs3 layui-col-sm3 layui-col-md3 label">图标距左：</label>
						    <div class="layui-col-xs9 layui-col-sm9 layui-col-md9">
						      	<input id="icon-left-height" class="layui-input" name="icon-left-height" autocomplete="off" type="text"></input>
								<div style="position:absolute;right: 15px;top: 10px;color:#757575">
									单位:px
								</div>
						    </div>
						</div>
					</div>
					<div class="layui-row">
		      			<div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
						    <label class="layui-col-xs3 layui-col-sm3 layui-col-md3 label">图片文字：</label>
						    <div class="layui-col-xs9 layui-col-sm9 layui-col-md9">
						      	<input id="text" class="layui-input" name="text" autocomplete="off" type="text"></input>
						    </div>
						</div>
						<div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
							<label class="layui-col-xs3 layui-col-sm3 layui-col-md3 label">文字字体：</label>
							<div class="layui-col-xs9 layui-col-sm9 layui-col-md9">
								<select id="text-typeFace" name="text-typeFace" lay-filter="typeFace">
									<option value="Arial" selected="">Arial</option>
									<option value="宋体">宋体</option>
									<option value="黑体">黑体</option>
									<option value="楷书">楷书</option>
									<option value="隶书">隶书</option>
								</select>
							</div>
						</div>
					</div>
					<div class="layui-row">
		      		<div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
						    <label class="layui-col-xs3 layui-col-sm3 layui-col-md3 label">文字颜色：</label>
						    <div class="layui-col-xs9 layui-col-sm9 layui-col-md9">
						      	<input id="text-color" class="layui-input" name="text-color" readonly="readonly" autocomplete="off" type="text"></input>
						      	<div style="text-align:right;margin-top: -35px;">
						      		<input id="text-colors"></input>
						      	</div>
						    </div>
						</div>
						<div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
							<label class="layui-col-xs3 layui-col-sm3 layui-col-md3 label">文字大小：</label>
							<div class="layui-col-xs9 layui-col-sm9 layui-col-md9">
								<input id="text-size" class="layui-input" name="text-size" autocomplete="off" type="text"></input>
								<div style="position:absolute;right: 15px;top: 10px;color:#757575">
									单位:px
								</div>
							</div>
						</div>
					</div>
					<div class="layui-row">
		      			<div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
						    <label class="layui-col-xs3 layui-col-sm3 layui-col-md3 label">文字距上：</label>
						    <div class="layui-col-xs9 layui-col-sm9 layui-col-md9">
						      	<input id="text-top-height" class="layui-input" name="text-top-height" autocomplete="off" type="text"></input>
								<div style="position:absolute;right: 15px;top: 10px;color:#757575">
									单位:px
								</div>
						    </div>
						</div>
						<div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
						    <label class="layui-col-xs3 layui-col-sm3 layui-col-md3 label">文字距左：</label>
						    <div class="layui-col-xs9 layui-col-sm9 layui-col-md9">
						      	<input id="text-left-height" class="layui-input" name="text-left-height" autocomplete="off" type="text"></input>
								<div style="position:absolute;right: 15px;top: 10px;color:#757575">
									单位:px
								</div>
						    </div>
						</div>
					</div>
					<div class="layui-row">
		      			<div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
						    <label class="layui-col-xs3 layui-col-sm3 layui-col-md3 label">边框宽度：</label>
						    <div class="layui-col-xs9 layui-col-sm9 layui-col-md9">
						      	<input id="border-width" class="layui-input" name="border-width" autocomplete="off" lay-filter="switchTest" type="text"></input>
								<div style="position:absolute;right: 15px;top: 10px;color:#757575">
									单位:px
								</div>
						    </div>
						</div>
						<div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
						    <label class="layui-col-xs3 layui-col-sm3 layui-col-md3 label">边框颜色：</label>
						    <div class="layui-col-xs9 layui-col-sm9 layui-col-md9">
						      	<input id="border-color" class="layui-input" name="border-color" readonly="readonly" autocomplete="off" type="text"></input>
						      	<div style="text-align:right;margin-top: -35px;">
						      		<input id="border-colors"></input>
						      	</div>
						    </div>
						</div>
					</div>
					<div class="layui-row">
						<!--<div class="layui-col-xs7 layui-col-sm7 layui-col-md7" style="line-height: 38px;color:red;font-size:14px;">
							友情提示:自定义图标小工具在购买后即可下载!
						</div>-->
						<div class="layui-col-xs12 layui-col-sm12 layui-col-md12" align="right">
							<button type="button" class="layui-btn" onclick="checkConfig()">下&nbsp;&nbsp;&nbsp;&nbsp;载</button>
						</div>
					</div>
	      		</form>
	    	</div>
	    	<div id="nihaoa" class="layui-col-xs4 layui-col-sm4 layui-col-md4" style="border:1px solid #D9D9D9;border-left:0px;height:100%;">
	    		<img style="display: none;" id="iconId" alt="The Scream" src=""></img>
	      		<canvas id="myCanvas" width="0" height="0" style="border:0px solid red;position: relative;"></canvas>
	    	</div> 
	  	</div>
	</div>
</body>
<script type="text/javascript" th:inline="javascript">
	var id = [[${id}]];
	$("#id").attr("value",id);
</script>
<script type="text/javascript" th:src="@{/js/pictureCustom.js}"></script>
</html>